@page
@model MetricsApp.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Application settings will be managed here.</p>
    <!-- Content for Settings will go here -->
</div> 